<div id="main_wrapper">
  <%= image_tag "library.jpg", :class => "absolute_background" %>

  <div id="thebook">
    <section class="main">
      <div class="bb-custom-wrapper">
        <%= link_to image_tag("close.png"), library_path(@tome.chapter), :class => "closer pnbuttons" %>
        <div id="bb-bookblock" class="bb-bookblock">
          <% if @tome.chapter==1 %>
              <div class="bb-item">
                <table class="bb-table">
                  <tr>
                    <td class="text_matter">
                      Dust.

                      That was all that remained. The universe, his beautiful creation, had ended. So utterly and
                      completely, that it was like it never existed.

                      The Creator sighed. He had really hoped it would last longer than a few aeons this time around.
                      But his creation had disappointed him. Over the ages, he had allowed the Races knowledge, in the
                      hope that they would be creators themselves. But in that knowledge, the Races only saw power. That
                      power had bred greed, and greed can't be contained…
                    </td>
                    <td class="text_matter">
                      War was waged across space and dimensions and
                      many great leaders of great and mighty races had foreseen and foretold the worst. Many had tried
                      their best to delay the end, but in the end it had been to no avail. Centuries of struggle to gain
                      control of the universe had led to the creation of unfathomable weapons, weapons that destroyed
                      all life and creation. Until all that was left was empty space and the dust of once powerful Races
                      floating around the universe.

                      Dust. The Creator walked slowly once again to the abandoned library at the edge of time. Dust was
                      enough to start with...
                    </td>
                  </tr>
                </table>
              </div>
          <% end %>
          <% @story_pages.each do |story_page| %>
              <div class="bb-item">
                <% if story_page.chapter_break %>
                    <%= image_tag Tome.find(story_page.progress).cover_page.url %>
                <% else %>
                    <table class="bb-table">
                      <tr>
                        <td class="text_matter"><%= story_page.progress.split('|p|')[0] %></td>
                        <td class="text_matter"><%= story_page.progress.split('|p|')[1] %></td>
                      </tr>
                    </table>
                <% end %>
              </div>
          <% end %>
        </div>
        <nav>
          <a id="bb-nav-prev" class="pnbuttons" href="#" onclick="$('.pnbuttons').fadeOut(100).delay(1000).fadeIn()"><%= image_tag "prev.png" %></a>
          <a id="bb-nav-next" class="pnbuttons" href="#" onclick="$('.pnbuttons').fadeOut(100).delay(1000).fadeIn()"><%= image_tag "next.png" %></a>
        </nav>
      </div>
    </section>
  </div>
</div>


<script type="text/javascript">
    $(function () {
        setTimeout(function () {
            $('#main_wrapper').fadeIn("slow");
        }, 500);

        var Page = (function () {

            var config = {
                        $bookBlock:$('#bb-bookblock'),
                        $navNext:$('#bb-nav-next'),
                        $navPrev:$('#bb-nav-prev'),
                        $navJump:$('#bb-nav-jump'),
                        bb:$('#bb-bookblock').bookblock({
                            speed:800,
                            shadowSides:0.8,
                            shadowFlip:0.7
                        })
                    },
                    init = function () {

                        initEvents();

                    },
                    initEvents = function () {

                        var $slides = config.$bookBlock.children(),
                                totalSlides = $slides.length;

                        // add navigation events
                        config.$navNext.on('click', function () {

                            config.bb.next();
                            return false;

                        });

                        config.$navPrev.on('click', function () {

                            config.bb.prev();
                            return false;

                        });

                        config.$navJump.on('click', function () {

                            config.bb.jump(totalSlides);
                            return false;

                        });

                        // add swipe events
                        $slides.on({

                            'swipeleft':function (event) {

                                config.bb.next();
                                return false;

                            },
                            'swiperight':function (event) {

                                config.bb.prev();
                                return false;

                            }

                        });

                    };

            return { init:init };

        })();
        Page.init();

    })
</script>
