<div id="main_wrapper">
  <%= image_tag "library.jpg", :class => "absolute_background" %>

  <div id="thebook">
    <section class="main">
      <div class="bb-custom-wrapper">
        <%= link_to image_tag("close.png"), library_path(@tome.chapter), :class => "closer pnbuttons" %>
        <div id="bb-bookblock" class="bb-bookblock">
          <% @story_pages.each do |story_page| %>
              <div class="bb-item">
                <% if story_page.chapter_break %>
                    <%= image_tag Tome.find(story_page.progress).cover_page.url %>
                    <% if Tome.find(story_page.progress).beginning.blank? %>
                        <% unless current_user.user_state.bookmark==0 %>
                            <%= link_to image_tag("bookmark.png"), "#", :style => "position:absolute;bottom:20px;right:100px;", :id => "bookmark" %>
                        <% end %>
                    <% else %>
                        <%= link_to image_tag("skipper.png"), "/creatomes/#{@next_tome.id}", :style => "position:absolute;bottom:100px;right:100px;" %>
                    <% end %>
                <% else %>
                    <table class="bb-table-story">
                      <tr>
                        <td><%= raw story_page.progress.split('|p|')[0] %></td>
                        <td><%= raw story_page.progress.split('|p|')[1] %></td>
                      </tr>
                    </table>
                <% end %>
              </div>
          <% end %>
          <div class="bb-item" id="next_pager">
            <a href="/creatomes/<%= @next_tome.id %>"><%= image_tag "continue_page.jpg" %></a>
          </div>
        </div>
        <nav>
          <a id="bb-nav-prev" class="pnbuttons" href="#" onclick="$('.pnbuttons').fadeOut(100).delay(1000).fadeIn()"><%= image_tag "prev.png" %></a>
          <a id="bb-nav-next" class="pnbuttons" href="#" onclick="$('.pnbuttons').fadeOut(100).delay(1000).fadeIn()"><%= image_tag "next.png" %></a>
        </nav>
      </div>
    </section>
  </div>
</div>


<script type="text/javascript">
    $(function () {
        setTimeout(function () {
            $('#main_wrapper').fadeIn("slow");
        }, 500);

        var Page = (function () {

            var config = {
                        $bookBlock:$('#bb-bookblock'),
                        $navNext:$('#bb-nav-next'),
                        $navPrev:$('#bb-nav-prev'),
                        $navJump:$('#bookmark'),
                        bb:$('#bb-bookblock').bookblock({
                            speed:800,
                            shadowSides:0.8,
                            shadowFlip:0.7
                        })
                    },
                    init = function () {
                        initEvents();
                    },
                    initEvents = function () {

                        var $slides = config.$bookBlock.children(),
                                totalSlides = $slides.length;

                        // add navigation events
                        config.$navNext.on('click', function () {

                            config.bb.next();
                            return false;

                        });

                        config.$navPrev.on('click', function () {

                            config.bb.prev();
                            return false;

                        });

                        config.$navJump.on('click', function () {

                            config.bb.jump(gon.bookmark);
                            return false;

                        });

                        // add swipe events
                        $slides.on({

                            'swipeleft':function (event) {

                                config.bb.next();
                                return false;

                            },
                            'swiperight':function (event) {

                                config.bb.prev();
                                return false;

                            }

                        });

                    };

            return { init:init };

        })();
        Page.init();
    })
</script>
