<div id="main_wrapper">
  <%= image_tag "library.jpg", :class => "absolute_background" %>
  <div id="wallet" style="color: white;">
    <span id="magic_wallet"><%= current_user.mana %></span> <%= image_tag "magic.png" %><%= image_tag "techno.png" %>
    <span id="techno_wallet"><%= current_user.power %></span>
  </div>
  <%= link_to image_tag("menu-off.gif"),"/library" ,:id => "back_button" %>
  <ul class="tomes">
    <% Tome.all.each do |tome| %>
        <li><%=link_to image_tag(tome.avatar.url), tome_show_path(tome) %></li>
    <% end %>
  </ul>
  <a href="#" class="next_round"><%= image_tag "rotate.png" %></a>
</div>

<script type="text/javascript">
    $(function () {
        setTimeout(function () {
            $('#main_wrapper').fadeIn("slow");
        }, 500);
        $('ul.tomes').roundabout({
            btnNext:".next_round"
        });
    })
</script>
