<script type="text/javascript">

    var checker = "0000000";

    $(function () {
        var alchemy_element_array = [];
        alchemy_element_array = <%= raw @elements %>;
        createFields(alchemy_element_array);
        distributeFields(95, 55);
        $('.alchemy_elements').live('click', switch_element);
    })
</script>

<div id="game_wrapper">
  <%= image_tag "#{@theme}.jpg", :class => "background" %>
  <div id="wallet" class="<%= @theme %>_text">
    <%= current_user.mana %><%= image_tag "wisdom.png" %><%= image_tag "techno.png" %><%= current_user.power %>
  </div>
  <div id="target_back"></div>
  <div id="target">
    <div style="height:110px;">
      <h2 style="margin: 10px;">
        <%= @game.puzzle.name %>
        <div id="reward_table">
          <%= @game.puzzle.mana_reward unless @game.puzzle.mana_reward==0 %><%= image_tag "wisdom.png" unless @game.puzzle.mana_reward==0 %><%= image_tag "techno.png" unless @game.puzzle.power_reward==0 %><%= @game.puzzle.power_reward unless @game.puzzle.power_reward==0 %>
        </div>
      </h2>
    </div>
    <div id="content_area">
      <%= image_tag @game.puzzle.avatar.url(:original) %>
      <div id="lore_content" class="content_block">
        <div class="locked_block">
          <span class="closing_cross" onclick="clue_deselect()">&times;</span><br>
          <h3>Lore</h3>

          <div class="cost_table">
            <%= @game.puzzle.mana_reward unless @game.puzzle.mana_reward==0 %>
            <%= image_tag "wisdom.png" unless @game.puzzle.mana_reward==0 %>
            <%= image_tag "techno.png" unless @game.puzzle.power_reward==0 %>
            <%= @game.puzzle.power_reward unless @game.puzzle.power_reward==0 %>
          </div>
          <br>
          <button class="clue_button">Research</button>
        </div>
      </div>
      <div id="count_content" class="content_block">
        <div class="locked_block">
          <span class="closing_cross" onclick="clue_deselect()">&times;</span><br>
          <h3>Count</h3>
          <div class="cost_table">
            <%= @game.puzzle.mana_reward unless @game.puzzle.mana_reward==0 %>
            <%= image_tag "wisdom.png" unless @game.puzzle.mana_reward==0 %>
            <%= image_tag "techno.png" unless @game.puzzle.power_reward==0 %>
            <%= @game.puzzle.power_reward unless @game.puzzle.power_reward==0 %>
          </div>
          <br>
          <button class="clue_button">Research</button>
        </div>
      </div>
      <div id="chance_content" class="content_block">
        <div class="locked_block">
          <span class="closing_cross" onclick="clue_deselect()">&times;</span><br>

          <h3>Chance</h3>

          <div class="cost_table">
            <%= @game.puzzle.mana_reward unless @game.puzzle.mana_reward==0 %>
            <%= image_tag "wisdom.png" unless @game.puzzle.mana_reward==0 %>
            <%= image_tag "techno.png" unless @game.puzzle.power_reward==0 %>
            <%= @game.puzzle.power_reward unless @game.puzzle.power_reward==0 %>
          </div>
          <br>
          <button class="clue_button">Research</button>
        </div>
      </div>
    </div>
    <%= image_tag "lore.jpg", :id => "lore_button", :class => "clue", :onclick => "lore_clue_taken()" %>
    <%= image_tag "count.jpg", :id => "count_button", :class => "clue", :onclick => "count_clue_taken(#{@game.id},'#{@theme}')" %>
    <%= image_tag "chance.jpg", :id => "chance_button", :class => "clue", :onclick => "chance_clue_taken()" %>
  </div>

  <div id="alchemy_container">
    <div id="alchemy_center" onclick="check_combo(checker)"><%= image_tag "mixer_#{@theme}.png" %></div>
  </div>

  <a data-backdrop="static" data-toggle="modal" href="#menu"><%= image_tag "menu-off-#{@theme}.gif", :id => "back_button" %></a>

</div>

<div class="modal hide fade" id="menu">
  <div class="modal-body">
    <h2>Technomagerium</h2>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-danger" data-dismiss="modal">Return</a>
  </div>
</div>

