<% if request.url=="http://localhost:3000/users/sign_in" %>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div><%= f.email_field :email, :placeholder => "Enter email id" %></div>

        <div><%= f.password_field :password, :placeholder => "Enter password" %></div>
        <br>
        <div><%= f.submit "Sign in", :class => "btn btn-primary btn-large" %></div>
    <% end %>
<% end %>

<div id="main_wrapper">
  <div id="launch_page">
    <%= image_tag "title.jpg", :class => "background" %>
    <a href="#" id="entering" onclick="open_sesame()">
            <span id="portal">
                <span id="starter"><%= image_tag "portal.gif", :style => "vertical-align:middle;margin-right:20px;" %>
                  Start
                </span>
                    <div id="prologue" style="display: none; font-size:14px;padding: 20px;width: 400px; ">
                      Light the fire. Blow the wind. Create ripples in the water. Smelt the iron. Tear the leather. Axe
                      down the wood. Bring to life the dead and the undead. And in doing thus, recreate the universe. If
                      not as we’d known it, ‘tleast as we’d dream it.
                      <br>
                      <br>
                      Play this exciting and challenging puzzle game by taking on the role of The Creator and his tribe of Eternals. Purchase the
                      clues in each puzzle with the mana and power you earn, put the correct elements together and
                      produce a creation. Unlock tomes and parts of the story of the universe you are creating as you
                      solve more puzzles.
                      <br>
                      <br>
                    </div>
              <br>
            </span>

    </a>

    <div id="fbliker" style ="position:absolute;left:-450px;bottom:200px;padding:10px; background: white;">
      <fb:like send="true" width="420" show_faces="true"></fb:like>
    </div>

    <%= link_to image_tag("gate.png"), '/users/auth/facebook', :style => "position:absolute;right:40px;bottom:10px;display:none;", :id => "gate" %>
  </div>
</div>


<script type="text/javascript">
    $(function () {
        setTimeout(function () {
            $('#main_wrapper').fadeIn("slow");
        }, 500);
    });

    function open_sesame() {
        $('#starter').fadeOut('slow');
        $('#portal').animate({
            "left":"-10px"
        }, function () {
            $('#portal').animate({
                "bottom":"260px",
                "height":"230px",
                "opacity":"0.8"
            }, function () {
                $('#prologue').fadeIn();
                $('#gate').show();
                $('#fbliker').animate({
                    "left":"15px"
                },'fast');
            })
        })
    }

</script>



