<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
 xml:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>The Creatomes: A game of magic, technology and creation</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
  <%= include_gon %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>




